body
{
    font-style: italic;
    background:url("/static/img/sample.jpg");
    background-size:cover;
}
.container
{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 40px;
    color:#fff;
    margin-top: 70px;
}