{% extends "base/basic_layout.html" %}
{% block page_title %}Cart{% endblock page_title %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">{% endblock %}
{% block main_content %}
<div class="containe">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Vendor Name</th>
                      <th scope="col">Medicine Name</th>
                      <th scope="col">Quantity</th>
                      
                    </tr>
                  </thead>
    {% for it in items %}
    <tr >
            <td>{{it.vendor_name}}</td>
            <td>{{it.medicine_name}}</td>         
            <td>{{it.quantity}}</td>
        </tr>{% endfor %}
    </table>
    <form method="post">
    {% csrf_token %}
    <input class="btn btn-info" type="submit" value="Place Order">
    </form>
</div>

{% endblock main_content %}